@import "./home.css";
@import "./property.css";
@import "./web-dev.css";
@import "./books.css";
@import "./vcard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-poppins {
  letter-spacing: 0.01em;
}

.font-raleway {
  letter-spacing: 0.1em;
}

body {
  overflow-x: hidden;
}
