/* Footer.module.css */

.footerText {
  font-size: 13px; /* Set font size to 10px */
}

.underlineAnimation {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.underlineAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
